<?xml version="1.0" encoding="utf-8"?>
<TabHost xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:id="@+id/tabHost">
    <HorizontalScrollView
        android:layout_width="fill_parent"
        android:layout_height="wrap_content"
        android:fillViewport="true"
        android:scrollbars="none">
        <TabWidget
            android:layout_width="fill_parent"
            android:layout_height="wrap_content"
            android:id="@android:id/tabs" />
    </HorizontalScrollView>
    <FrameLayout
        android:layout_width="fill_parent"
        android:layout_height="fill_parent"
        android:id="@android:id/tabcontent">
        <RelativeLayout
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:id="@+id/tab1"
            android:paddingTop="60px">
            <ScrollView
                android:layout_width="fill_parent"
                android:layout_height="fill_parent"
                android:fillViewport="true"
                android:scrollbars="none">
                <RelativeLayout
                    android:layout_width="match_parent"
                    android:layout_height="match_parent"
                    android:paddingTop="60px">
                    <EditText
                        android:id="@+id/member"
                        android:layout_width="match_parent"
                        android:layout_height="50dp"
                        android:layout_below="@+id/tab1"
                        android:layout_marginTop="47dp"
                        android:background="@drawable/edittext"
                        android:hint="Customer Number"
                        android:inputType="text"
                        android:padding="5dp"
                        android:textColorHint="@android:color/darker_gray" />
                    <Spinner
                        android:background="@drawable/dropbackground"
                        android:layout_width="match_parent"
                        android:layout_marginTop="8dp"
                        android:layout_height="50dp"
                        android:layout_below="@+id/member"
                        android:id="@+id/sbu" />
                    <TextView
                        android:text="Application Type"
                        android:textAppearance="?android:attr/textAppearanceLarge"
                        android:layout_width="wrap_content"
                        android:layout_height="wrap_content"
                        android:layout_below="@id/sbu"
                        android:textSize="14dp"
                        android:id="@+id/textView12" />
                    <RadioGroup
                        android:minWidth="25px"
                        android:minHeight="25px"
                        android:layout_width="match_parent"
                        android:layout_height="wrap_content"
                        android:layout_below="@+id/textView12"
                        android:id="@+id/radioGroup4"
                        android:fitsSystemWindows="true"
                        android:orientation="horizontal"
                        android:background="@android:color/background_dark">
                        <RadioButton
                            android:layout_width="wrap_content"
                            android:layout_height="wrap_content"
                            android:checked="true"
                            android:text="PMEC"
                            android:id="@+id/PMEC"
                            android:textColor="@android:color/background_light" />
                        <RadioButton
                            android:layout_width="wrap_content"
                            android:layout_height="wrap_content"
                            android:text="Bankers"
                            android:id="@+id/Bankers"
                            android:textColor="@android:color/background_light" />
                        <RadioButton
                            android:layout_width="wrap_content"
                            android:layout_height="wrap_content"
                            android:text="PDAs"
                            android:id="@+id/PDA"
                            android:textColor="@android:color/background_light" />
                        <RadioButton
                            android:layout_width="wrap_content"
                            android:layout_height="wrap_content"
                            android:text="Other"
                            android:id="@+id/Other"
                            android:textColor="@android:color/background_light" />
                    </RadioGroup>
                    <EditText
                        android:id="@+id/surname"
                        android:layout_width="match_parent"
                        android:layout_height="50dp"
                        android:layout_below="@+id/radioGroup4"
                        android:layout_marginTop="8dp"
                        android:background="@drawable/edittext"
                        android:hint="Surname"
                        android:inputType="text"
                        android:padding="5dp"
                        android:textColorHint="@android:color/darker_gray" />
                    <EditText
                        android:id="@+id/forenames"
                        android:layout_width="match_parent"
                        android:layout_height="50dp"
                        android:layout_below="@+id/surname"
                        android:background="@drawable/edittext"
                        android:hint="Forenames"
                        android:inputType="text"
                        android:padding="5dp"
                        android:textColorHint="@android:color/darker_gray" />
                    <EditText
                        android:id="@+id/nrc"
                        android:layout_width="match_parent"
                        android:layout_height="50dp"
                        android:layout_below="@+id/forenames"
                        android:background="@drawable/edittext"
                        android:hint="NRC"
                        android:inputType="text"
                        android:padding="5dp"
                        android:textColorHint="@android:color/darker_gray" />
                    <Spinner
                        android:layout_width="match_parent"
                        android:layout_height="30.5dp"
                        android:id="@+id/drpsector"
                        android:layout_below="@id/nrc"
                        android:background="@drawable/dropbackground" />
                    <TextView
                        android:text="Date Of Birth"
                        android:textAppearance="?android:attr/textAppearanceLarge"
                        android:layout_width="wrap_content"
                        android:layout_height="wrap_content"
                        android:layout_below="@id/drpsector"
                        android:textSize="14dp"
                        android:id="@+id/l9" />
                    <Button
                        android:text="Select Date"
                        android:layout_width="match_parent"
                        android:layout_height="wrap_content"
                        android:layout_below="@+id/l9"
                        android:id="@+id/dateSelectButton"
                        android:background="#48e4ee" />
                    <TextView
                        android:textAppearance="?android:attr/textAppearanceMedium"
                        android:layout_width="match_parent"
                        android:layout_height="20.5dp"
                        android:id="@+id/dateDisplay"
                        android:textSize="14dp"
                        android:layout_below="@id/dateSelectButton"
                        android:textColor="@android:color/background_dark"
                        android:textColorHint="@android:color/darker_gray"
                        android:hint="dd/MM/yyyy" />
                    <EditText
                        android:inputType="textMultiLine"
                        android:layout_width="match_parent"
                        android:layout_height="147.0dp"
                        android:layout_below="@+id/dateSelectButton"
                        android:id="@+id/address"
                        android:textColor="@android:color/background_dark"
                        android:textColorHint="@android:color/darker_gray"
                        android:hint="Address" />
                    <EditText
                        android:id="@+id/city"
                        android:layout_width="match_parent"
                        android:layout_height="50dp"
                        android:layout_below="@+id/address"
                        android:background="@drawable/edittext"
                        android:hint="City"
                        android:inputType="text"
                        android:padding="5dp"
                        android:textColorHint="@android:color/darker_gray" />
                    <Spinner
                        android:background="@drawable/dropbackground"
                        android:layout_width="match_parent"
                        android:layout_height="46.5dp"
                        android:layout_below="@+id/city"
                        android:id="@+id/drparea" />
                    <RadioGroup
                        android:minWidth="25px"
                        android:minHeight="25px"
                        android:layout_width="match_parent"
                        android:layout_below="@id/drparea"
                        android:layout_height="wrap_content"
                        android:id="@+id/radioGroup5"
                        android:fitsSystemWindows="true"
                        android:orientation="horizontal"
                        android:background="@android:color/background_dark">
                        <RadioButton
                            android:layout_width="wrap_content"
                            android:layout_height="wrap_content"
                            android:checked="true"
                            android:text="MALE"
                            android:id="@+id/ml"
                            android:textColor="@android:color/background_light" />
                        <RadioButton
                            android:layout_width="wrap_content"
                            android:layout_height="wrap_content"
                            android:text="FEMALE"
                            android:id="@+id/fml"
                            android:textColor="@android:color/background_light" />
                    </RadioGroup>
                    <RadioGroup
                        android:minWidth="25px"
                        android:minHeight="25px"
                        android:layout_width="match_parent"
                        android:layout_below="@id/radioGroup5"
                        android:layout_height="wrap_content"
                        android:id="@+id/radioGroup6"
                        android:fitsSystemWindows="true"
                        android:orientation="horizontal"
                        android:background="@android:color/background_dark">
                        <RadioButton
                            android:layout_width="wrap_content"
                            android:layout_height="wrap_content"
                            android:checked="true"
                            android:text="DIVORCED"
                            android:id="@+id/mm1"
                            android:textColor="@android:color/background_light" />
                        <RadioButton
                            android:layout_width="wrap_content"
                            android:layout_height="wrap_content"
                            android:text="SINGLE"
                            android:id="@+id/mm2"
                            android:textColor="@android:color/background_light" />
                        <RadioButton
                            android:layout_width="wrap_content"
                            android:layout_height="wrap_content"
                            android:text="MARRIED"
                            android:id="@+id/mm3"
                            android:textColor="@android:color/background_light" />
                        <RadioButton
                            android:layout_width="wrap_content"
                            android:layout_height="wrap_content"
                            android:text="WIDOWED"
                            android:id="@+id/mm4"
                            android:textColor="@android:color/background_light" />
                    </RadioGroup>
                    <EditText
                        android:id="@+id/phoneno"
                        android:layout_width="match_parent"
                        android:layout_height="50dp"
                        android:layout_below="@+id/radioGroup5"
                        android:layout_marginTop="8dp"
                        android:background="@drawable/edittext"
                        android:hint="Phone Number......."
                        android:inputType="number"
                        android:padding="5dp"
                        android:textColorHint="@android:color/darker_gray" />
                </RelativeLayout>
            </ScrollView>
        </RelativeLayout>
        <RelativeLayout
            android:layout_width="fill_parent"
            android:layout_height="fill_parent"
            android:id="@+id/tab2"
            android:paddingTop="60px">
            <ScrollView
                android:layout_width="fill_parent"
                android:layout_height="fill_parent"
                android:fillViewport="true"
                android:scrollbars="none">
                <RelativeLayout
                    android:layout_width="match_parent"
                    android:layout_height="match_parent"
                    android:paddingTop="60px">
                    <EditText
                        android:id="@+id/spouse"
                        android:layout_width="match_parent"
                        android:layout_height="50dp"
                        android:layout_marginTop="47dp"
                        android:background="@drawable/edittext"
                        android:hint="Spouse Names"
                        android:inputType="text"
                        android:layout_below="@+id/username"
                        android:padding="5dp"
                        android:textColorHint="@android:color/darker_gray" />
                    <EditText
                        android:id="@+id/spousephone"
                        android:layout_width="match_parent"
                        android:layout_height="50dp"
                        android:layout_marginTop="30dp"
                        android:background="@drawable/edittext"
                        android:hint="Spouse Phone Number"
                        android:inputType="number"
                        android:layout_below="@+id/spouse"
                        android:padding="5dp"
                        android:textColorHint="@android:color/darker_gray" />
                    <EditText
                        android:id="@+id/spouseoccupation"
                        android:layout_width="match_parent"
                        android:layout_height="50dp"
                        android:layout_marginTop="30dp"
                        android:background="@drawable/edittext"
                        android:hint="Spouse Occupation"
                        android:inputType="text"
                        android:layout_below="@+id/spousephone"
                        android:padding="5dp"
                        android:textColorHint="@android:color/darker_gray" />
                    <EditText
                        android:id="@+id/spousedep"
                        android:layout_width="match_parent"
                        android:layout_height="50dp"
                        android:layout_marginTop="30dp"
                        android:background="@drawable/edittext"
                        android:hint="Number of Dependants"
                        android:inputType="number"
                        android:layout_below="@+id/spouseoccupation"
                        android:padding="5dp"
                        android:textColorHint="@android:color/darker_gray" />
                </RelativeLayout>
            </ScrollView>
        </RelativeLayout>
        <RelativeLayout
            android:layout_width="fill_parent"
            android:layout_height="fill_parent"
            android:id="@+id/tab3"
            android:paddingTop="60px">
            <ScrollView
                android:layout_width="fill_parent"
                android:layout_height="fill_parent"
                android:fillViewport="true"
                android:scrollbars="none">
                <RelativeLayout
                    android:layout_width="match_parent"
                    android:layout_height="match_parent"
                    android:paddingTop="60px">
                    <Spinner
                        android:background="@drawable/dropbackground"
                        android:layout_width="match_parent"
                        android:layout_height="46.5dp"
                        android:layout_marginTop="47dp"
                        android:id="@+id/drpbank" />
                    <Spinner
                        android:background="@drawable/dropbackground"
                        android:layout_width="match_parent"
                        android:layout_height="46.5dp"
                        android:layout_below="@+id/drpbank"
                        android:id="@+id/drpbranch" />
                    <EditText
                        android:id="@+id/accountnumber"
                        android:layout_width="match_parent"
                        android:layout_height="50dp"
                        android:background="@drawable/edittext"
                        android:hint="Account Number"
                        android:inputType="number"
                        android:layout_below="@+id/drpbranch"
                        android:padding="5dp"
                        android:textColorHint="@android:color/darker_gray" />
                    <EditText
                        android:id="@+id/branchcode"
                        android:layout_width="match_parent"
                        android:layout_height="50dp"
                        android:background="@drawable/edittext"
                        android:hint="Branch Code"
                        android:inputType="text"
                        android:layout_below="@+id/accountnumber"
                        android:padding="5dp"
                        android:textColorHint="@android:color/darker_gray" />
                </RelativeLayout>
            </ScrollView>
        </RelativeLayout>
        <RelativeLayout
            android:layout_width="fill_parent"
            android:layout_height="fill_parent"
            android:id="@+id/tab4"
            android:paddingTop="60px">
            <ScrollView
                android:layout_width="fill_parent"
                android:layout_height="fill_parent"
                android:fillViewport="true"
                android:scrollbars="none">
                <RelativeLayout
                    android:layout_width="match_parent"
                    android:layout_height="match_parent"
                    android:paddingTop="60px">
                    <EditText
                        android:id="@+id/curremployee"
                        android:layout_width="match_parent"
                        android:layout_height="50dp"
                        android:layout_marginTop="47dp"
                        android:background="@drawable/edittext"
                        android:hint="Current Employer"
                        android:inputType="text"
                        android:layout_below="@+id/accountnumber"
                        android:padding="5dp"
                        android:textColorHint="@android:color/darker_gray" />
                    <EditText
                        android:id="@+id/empaddress"
                        android:layout_width="match_parent"
                        android:layout_height="50dp"
                        android:background="@drawable/edittext"
                        android:hint="Employer Address"
                        android:inputType="text"
                        android:layout_below="@+id/curremployee"
                        android:padding="5dp"
                        android:textColorHint="@android:color/darker_gray" />
                    <TextView
                        android:text="Date Of Employment"
                        android:textAppearance="?android:attr/textAppearanceLarge"
                        android:layout_width="wrap_content"
                        android:layout_height="wrap_content"
                        android:layout_below="@id/empaddress"
                        android:textSize="14dp"
                        android:id="@+id/l17" />
                    <Button
                        android:text="Select Date"
                        android:layout_width="match_parent"
                        android:layout_height="wrap_content"
                        android:layout_below="@+id/l17"
                        android:id="@+id/dateSelectButton2"
                        android:background="#48e4ee" />
                    <TextView
                        android:textAppearance="?android:attr/textAppearanceMedium"
                        android:layout_width="match_parent"
                        android:layout_height="26.5dp"
                        android:textSize="14dp"
                        android:id="@+id/dateDisplay2"
                        android:layout_below="@id/dateSelectButton2"
                        android:textColor="@android:color/background_dark"
                        android:textColorHint="@android:color/darker_gray"
                        android:hint="dd/MM/yyyy" />
                    <EditText
                        android:id="@+id/supervisor"
                        android:layout_width="match_parent"
                        android:layout_height="50dp"
                        android:background="@drawable/edittext"
                        android:hint="Supervisor"
                        android:inputType="text"
                        android:layout_below="@+id/dateDisplay2"
                        android:padding="5dp"
                        android:textColorHint="@android:color/darker_gray" />
                    <EditText
                        android:id="@+id/phone"
                        android:layout_width="match_parent"
                        android:layout_height="50dp"
                        android:background="@drawable/edittext"
                        android:hint="Phone"
                        android:inputType="number"
                        android:layout_below="@+id/supervisor"
                        android:padding="5dp"
                        android:textColorHint="@android:color/darker_gray" />
                    <EditText
                        android:id="@+id/empPosition"
                        android:layout_width="match_parent"
                        android:layout_height="50dp"
                        android:background="@drawable/edittext"
                        android:hint="Position"
                        android:inputType="text"
                        android:layout_below="@+id/phone"
                        android:padding="5dp"
                        android:textColorHint="@android:color/darker_gray" />
                    <EditText
                        android:id="@+id/grosssalary"
                        android:layout_width="match_parent"
                        android:layout_height="50dp"
                        android:background="@drawable/edittext"
                        android:hint="Gross Salary"
                        android:inputType="numberDecimal"
                        android:layout_below="@+id/empPosition"
                        android:padding="5dp"
                        android:textColorHint="@android:color/darker_gray" />
                    <EditText
                        android:id="@+id/netsalary"
                        android:layout_width="match_parent"
                        android:layout_height="50dp"
                        android:background="@drawable/edittext"
                        android:hint="Net Salary"
                        android:inputType="numberDecimal"
                        android:layout_below="@+id/grosssalary"
                        android:padding="5dp"
                        android:textColorHint="@android:color/darker_gray" />
                    <Button
                        android:id="@+id/btnLogin"
                        android:layout_width="match_parent"
                        android:layout_height="wrap_content"
                        android:layout_below="@+id/netsalary"
                        android:layout_marginBottom="@dimen/activity_horizontal_margin"
                        android:background="@drawable/ripple"
                        android:text="UPDATE"
                        android:textColor="@android:color/background_dark" />
                </RelativeLayout>
            </ScrollView>
        </RelativeLayout>
    </FrameLayout>
</TabHost>