<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:p1="http://schemas.android.com/apk/res/android"
    p1:minWidth="25px"
    p1:minHeight="25px"
    p1:layout_width="match_parent"
    p1:layout_height="match_parent"
    p1:background="#F4F4F4"
    p1:focusable="true"
    p1:focusableInTouchMode="true"
    p1:paddingBottom="@dimen/activity_vertical_margin"
    p1:paddingLeft="@dimen/activity_horizontal_margin"
    p1:paddingRight="@dimen/activity_horizontal_margin"
    p1:paddingTop="@dimen/activity_vertical_margin"
    p1:id="@+id/relativeLayout1">
    <ScrollView
        p1:layout_width="wrap_content"
        p1:layout_height="518.3dp">
        <RelativeLayout
            p1:layout_width="wrap_content"
            p1:layout_height="wrap_content"
            p1:focusable="false"
            p1:focusableInTouchMode="false">
            <LinearLayout
                p1:layout_width="match_parent"
                p1:layout_height="108.5dp"
                p1:id="@+id/see"
                p1:orientation="horizontal"
                p1:gravity="center">
                <ImageView
                    p1:id="@+id/logo"
                    p1:layout_width="191.0dp"
                    p1:layout_height="160.0dp"
                    p1:src="@drawable/qqq" />
            </LinearLayout>
            <EditText
                p1:id="@+id/username"
                p1:layout_width="match_parent"
                p1:layout_height="50dp"
                p1:layout_below="@+id/see"
                p1:layout_marginTop="8dp"
                p1:background="@drawable/edittext"
                p1:drawableEnd="@drawable/username"
                p1:drawableRight="@drawable/username"
                p1:hint="Username"
                p1:inputType="text"
                p1:padding="5dp"
                p1:textColorHint="@android:color/darker_gray" />
            <EditText
                p1:id="@+id/password"
                p1:layout_width="match_parent"
                p1:layout_height="50dp"
                p1:layout_below="@+id/username"
                p1:layout_marginTop="8dp"
                p1:background="@drawable/edittext"
                p1:drawableEnd="@drawable/password"
                p1:drawableRight="@drawable/password"
                p1:hint="Password"
                p1:inputType="textPassword"
                p1:padding="5dp"
                p1:textColorHint="@android:color/darker_gray" />
            <Button
                p1:id="@+id/btnLogin"
                p1:layout_width="match_parent"
                p1:layout_height="wrap_content"
                p1:layout_below="@+id/password"
                p1:layout_marginBottom="@dimen/activity_horizontal_margin"
                p1:layout_marginTop="8dp"
                p1:background="@drawable/ripple"
                p1:text="LOGIN"
                p1:textColor="@android:color/background_dark" />
            <Button
                p1:id="@+id/btnClear"
                p1:layout_width="match_parent"
                p1:layout_height="wrap_content"
                p1:layout_below="@+id/btnLogin"
                p1:layout_marginBottom="@dimen/activity_horizontal_margin"
                p1:layout_marginTop="8dp"
                p1:background="@drawable/ripple"
                p1:text="CLEAR"
                p1:textColor="@android:color/background_dark" />
            <LinearLayout
                p1:layout_width="match_parent"
                p1:layout_height="70.3dp"
                p1:layout_below="@+id/btnClear"
                p1:id="@+id/L1"
                p1:orientation="horizontal"
                p1:gravity="center">
                <Button
                    p1:id="@+id/btnReg"
                    p1:layout_width="173.5dp"
                    p1:layout_height="wrap_content"
                    p1:layout_below="@+id/btnClear"
                    p1:layout_marginBottom="@dimen/activity_horizontal_margin"
                    p1:layout_marginTop="8dp"
                    p1:background="@drawable/ripple"
                    p1:gravity="center"
                    p1:text="REGISTER"
                    p1:textColor="@android:color/background_dark" />
                <Button
                    p1:id="@+id/btnForg"
                    p1:layout_width="180.5dp"
                    p1:layout_height="wrap_content"
                    p1:layout_below="@+id/btnReg"
                    p1:gravity="center"
                    p1:layout_marginBottom="@dimen/activity_horizontal_margin"
                    p1:layout_marginTop="8dp"
                    p1:background="@drawable/ripple"
                    p1:text="FORGOT PASSWORD"
                    p1:textColor="@android:color/background_dark" />
            </LinearLayout>
            <ImageView
                p1:id="@+id/pp"
                p1:layout_width="wrap_content"
                p1:layout_below="@+id/L1"
                p1:layout_height="70dp"
                p1:src="@drawable/logo" />
        </RelativeLayout>
    </ScrollView>
</RelativeLayout>