<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
    <ImageView
        android:id="@+id/img"
        android:layout_width="40dp"
        android:layout_height="40dp" />
    <LinearLayout
        android:layout_width="fill_parent"
        android:layout_height="50.5dp"
        android:layout_below="@+id/img"
        android:orientation="horizontal">
        <TextView
            android:id="@+id/txt4"
            android:layout_width="132dp"
            android:layout_height="30dp"
            android:textSize="10dp" />
        <TextView
            android:id="@+id/txt3"
            android:layout_width="80dp"
            android:gravity="right"
            android:textAlignment="gravity"
            android:layout_height="20dp"
            android:textSize="10dp" />
        <TextView
            android:id="@+id/txt9"
            android:layout_width="40dp"
            android:layout_height="20dp"
            android:textSize="10dp" />
        <TextView
            android:id="@+id/txt2"
            android:layout_width="60dp"
            android:layout_height="50dp"
            android:textSize="10dp" />
        <TextView
            android:id="@+id/txt8"
            android:layout_width="60dp"
            android:text="HOLD FOR STATEMENT"
            android:textColor="#006400"
            android:layout_height="30dp"
            android:textSize="7dp" />
    </LinearLayout>
</RelativeLayout>