<?xml version="1.0" encoding="utf-8"?>
<TableLayout xmlns:p1="http://schemas.android.com/apk/res/android"
    p1:minWidth="25px"
    p1:minHeight="25px"
    p1:layout_width="match_parent"
    p1:layout_height="match_parent"
    p1:id="@+id/tableLayout1">
    <TableRow>
        <ImageView
            p1:id="@+id/img"
            p1:layout_width="50dp"
            p1:layout_height="50dp" />
        <TextView
            p1:id="@+id/txt"
            p1:layout_width="wrap_content"
            p1:layout_height="50dp" />
    </TableRow>
</TableLayout>