<?xml version="1.0" encoding="utf-8"?>
<TabHost xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:id="@+id/tabHost">
    <HorizontalScrollView
        android:layout_width="fill_parent"
        android:layout_height="wrap_content"
        android:fillViewport="true"
        android:scrollbars="none">
        <TabWidget
            android:layout_width="fill_parent"
            android:layout_height="wrap_content"
            android:id="@android:id/tabs" />
    </HorizontalScrollView>
    <FrameLayout
        android:layout_width="fill_parent"
        android:layout_height="fill_parent"
        android:id="@android:id/tabcontent">
        <RelativeLayout
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:id="@+id/tab1"
            android:paddingTop="60px">
            <TextView
                android:id="@+id/txt2"
                android:layout_width="match_parent"
                android:layout_height="20dp"
                android:layout_marginTop="40dp"
                android:layout_below="@+id/tab1"
                android:textSize="12dp" />
            <ScrollView
                android:layout_width="fill_parent"
                android:layout_height="fill_parent"
                android:fillViewport="true"
                android:scrollbars="none">
                <RelativeLayout
                    android:layout_width="match_parent"
                    android:layout_height="match_parent"
                    android:paddingTop="60px">
                    <ListView
                        android:minWidth="25px"
                        android:minHeight="25px"
                        android:layout_marginTop="40dp"
                        android:layout_below="@+id/txt2"
                        android:layout_width="match_parent"
                        android:layout_height="300dp"
                        android:choiceMode="singleChoice"
                        android:divider="@android:color/background_dark"
                        android:listSelector="@android:color/holo_blue_dark"
                        android:textAlignment="textStart"
                        android:layoutMode="clipBounds"
                        android:id="@+id/listView1" />
                </RelativeLayout>
            </ScrollView>
        </RelativeLayout>
    </FrameLayout>
</TabHost>