<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:p1="http://schemas.android.com/apk/res/android"
    p1:minWidth="25px"
    p1:minHeight="25px"
    p1:layout_width="match_parent"
    p1:layout_height="match_parent"
    p1:focusable="true"
    p1:focusableInTouchMode="true"
    p1:paddingBottom="@dimen/activity_vertical_margin"
    p1:paddingLeft="@dimen/activity_horizontal_margin"
    p1:paddingRight="@dimen/activity_horizontal_margin"
    p1:paddingTop="@dimen/activity_vertical_margin"
    p1:id="@+id/relativeLayout1"
    p1:background="#EAEAEA">
    <ScrollView
        p1:layout_width="wrap_content"
        p1:layout_height="wrap_content">
        <RelativeLayout
            p1:layout_width="wrap_content"
            p1:layout_height="wrap_content"
            p1:focusable="false"
            p1:focusableInTouchMode="false">
            <TextView
                p1:text="APPLICATION FORM"
                p1:textAppearance="?android:attr/textAppearanceLarge"
                p1:layout_width="match_parent"
                p1:layout_height="wrap_content"
                p1:id="@+id/textView1"
                p1:textColor="@android:color/darker_gray" />
            <EditText
                p1:id="@+id/member"
                p1:layout_width="match_parent"
                p1:layout_height="50dp"
                p1:layout_below="@+id/textView1"
                p1:layout_marginTop="8dp"
                p1:background="@drawable/edittext"
                p1:hint="Client Number"
                p1:inputType="text"
                p1:padding="5dp"
                p1:textColorHint="@android:color/darker_gray"
                p1:enabled="false" />
            <EditText
                p1:id="@+id/loanamount"
                p1:layout_width="match_parent"
                p1:layout_height="50dp"
                p1:layout_below="@+id/member"
                p1:layout_marginTop="8dp"
                p1:background="@drawable/edittext"
                p1:hint="Loan Amount"
                p1:inputType="numberDecimal"
                p1:padding="5dp"
                p1:textColorHint="@android:color/darker_gray" />
            <Spinner
                p1:background="@drawable/dropbackground"
                p1:layout_width="match_parent"
                p1:layout_height="46.5dp"
                p1:layout_below="@+id/loanamount"
                p1:id="@+id/sbu" />
            <Button
                p1:id="@+id/btnLogin"
                p1:layout_width="match_parent"
                p1:layout_height="wrap_content"
                p1:layout_below="@+id/sbu"
                p1:layout_marginBottom="@dimen/activity_horizontal_margin"
                p1:layout_marginTop="8dp"
                p1:background="@drawable/ripple"
                p1:text="SUBMIT"
                p1:textColor="@android:color/background_dark" />
        </RelativeLayout>
    </ScrollView>
</RelativeLayout>